# 資料驗證

In [51]:
%matplotlib inline
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import patito as pt
from typing import List, Tuple, Dict, Any, Union, Literal, Optional

plt.style.use('seaborn-v0_8-darkgrid')

In [52]:
def val(validator_class: Any, data: Any) -> bool:
    try:
        validator_class.validate(data)
        print('Pass')
    except Exception as e:
        print(e)

In [53]:
df = pl.read_csv('Data_Prep/penguins.csv')

In [54]:
df.describe()

shape: (9, 18)
┌────────────┬───────────┬────────────┬────────────┬───┬──────┬────────────┬───────────┬───────────┐
│ statistic  ┆ studyName ┆ Sample     ┆ Species    ┆ … ┆ Sex  ┆ Delta 15 N ┆ Delta 13  ┆ Comments  │
│ ---        ┆ ---       ┆ Number     ┆ ---        ┆   ┆ ---  ┆ (o/oo)     ┆ C (o/oo)  ┆ ---       │
│ str        ┆ str       ┆ ---        ┆ str        ┆   ┆ str  ┆ ---        ┆ ---       ┆ str       │
│            ┆           ┆ f64        ┆            ┆   ┆      ┆ f64        ┆ f64       ┆           │
╞════════════╪═══════════╪════════════╪════════════╪═══╪══════╪════════════╪═══════════╪═══════════╡
│ count      ┆ 344       ┆ 344.0      ┆ 344        ┆ … ┆ 334  ┆ 330.0      ┆ 331.0     ┆ 26        │
│ null_count ┆ 0         ┆ 0.0        ┆ 0          ┆ … ┆ 10   ┆ 14.0       ┆ 13.0      ┆ 318       │
│ mean       ┆ null      ┆ 63.151163  ┆ null       ┆ … ┆ null ┆ 8.733382   ┆ -25.68629 ┆ null      │
│            ┆           ┆            ┆            ┆   ┆      ┆            ┆ 2         ┆           │
│ std        ┆ null      ┆ 40.430199  ┆ null       ┆ … ┆ null ┆ 0.55177    ┆ 0.793961  ┆ null      │
│ min        ┆ PAL0708   ┆ 1.0        ┆ Adelie     ┆ … ┆ .    ┆ 7.6322     ┆ -27.01854 ┆ Adult not │
│            ┆           ┆            ┆ Penguin    ┆   ┆      ┆            ┆           ┆ sampled.  │
│            ┆           ┆            ┆ (Pygosceli ┆   ┆      ┆            ┆           ┆           │
│            ┆           ┆            ┆ s ade…     ┆   ┆      ┆            ┆           ┆           │
│ 25%        ┆ null      ┆ 29.0       ┆ null       ┆ … ┆ null ┆ 8.2993     ┆ -26.3146  ┆ null      │
│ 50%        ┆ null      ┆ 58.0       ┆ null       ┆ … ┆ null ┆ 8.65466    ┆ -25.83352 ┆ null      │
│ 75%        ┆ null      ┆ 95.0       ┆ null       ┆ … ┆ null ┆ 9.17847    ┆ -25.0602  ┆ null      │
│ max        ┆ PAL0910   ┆ 152.0      ┆ Gentoo     ┆ … ┆ MALE ┆ 10.02544   ┆ -23.78767 ┆ Sexing    │
│            ┆           ┆            ┆ penguin    ┆   ┆      ┆            ┆           ┆ primers   │
│            ┆           ┆            ┆ (Pygosceli ┆   ┆      ┆            ┆           ┆ did not   │
│            ┆           ┆            ┆ s pap…     ┆   ┆      ┆            ┆           ┆ amplify…  │
└────────────┴───────────┴────────────┴────────────┴───┴──────┴────────────┴───────────┴───────────┘

In [55]:
df = df.drop('studyName', 'Region', 'Stage', 'Individual ID', 'Date Egg', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)')

In [56]:
df.columns

['Sample Number',
 'Species',
 'Island',
 'Clutch Completion',
 'Culmen Length (mm)',
 'Culmen Depth (mm)',
 'Flipper Length (mm)',
 'Body Mass (g)',
 'Sex',
 'Comments']

In [57]:
df = df.rename({'Sample Number': 'ID', 'Clutch Completion': 'Clutch_Completion',
                'Culmen Length (mm)': 'Culmen_Length', 'Culmen Depth (mm)': 'Culmen_Depth',
                'Flipper Length (mm)': 'Flipper_Length', 'Body Mass (g)': 'Body_Mass'
 })

In [58]:
df

shape: (344, 10)
┌─────┬─────────────┬───────────┬─────────────┬───┬─────────────┬───────────┬────────┬─────────────┐
│ ID  ┆ Species     ┆ Island    ┆ Clutch_Comp ┆ … ┆ Flipper_Len ┆ Body_Mass ┆ Sex    ┆ Comments    │
│ --- ┆ ---         ┆ ---       ┆ letion      ┆   ┆ gth         ┆ ---       ┆ ---    ┆ ---         │
│ i64 ┆ str         ┆ str       ┆ ---         ┆   ┆ ---         ┆ i64       ┆ str    ┆ str         │
│     ┆             ┆           ┆ str         ┆   ┆ i64         ┆           ┆        ┆             │
╞═════╪═════════════╪═══════════╪═════════════╪═══╪═════════════╪═══════════╪════════╪═════════════╡
│ 1   ┆ Adelie      ┆ Torgersen ┆ Yes         ┆ … ┆ 181         ┆ 3750      ┆ MALE   ┆ Not enough  │
│     ┆ Penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆ blood for   │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆ isotopes.   │
│     ┆ ade…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 2   ┆ Adelie      ┆ Torgersen ┆ Yes         ┆ … ┆ 186         ┆ 3800      ┆ FEMALE ┆ null        │
│     ┆ Penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ ade…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 3   ┆ Adelie      ┆ Torgersen ┆ Yes         ┆ … ┆ 195         ┆ 3250      ┆ FEMALE ┆ null        │
│     ┆ Penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ ade…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 4   ┆ Adelie      ┆ Torgersen ┆ Yes         ┆ … ┆ null        ┆ null      ┆ null   ┆ Adult not   │
│     ┆ Penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆ sampled.    │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ ade…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 5   ┆ Adelie      ┆ Torgersen ┆ Yes         ┆ … ┆ 193         ┆ 3450      ┆ FEMALE ┆ null        │
│     ┆ Penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ ade…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ …   ┆ …           ┆ …         ┆ …           ┆ … ┆ …           ┆ …         ┆ …      ┆ …           │
│ 120 ┆ Gentoo      ┆ Biscoe    ┆ No          ┆ … ┆ null        ┆ null      ┆ null   ┆ null        │
│     ┆ penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ pap…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 121 ┆ Gentoo      ┆ Biscoe    ┆ Yes         ┆ … ┆ 215         ┆ 4850      ┆ FEMALE ┆ null        │
│     ┆ penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ pap…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 122 ┆ Gentoo      ┆ Biscoe    ┆ Yes         ┆ … ┆ 222         ┆ 5750      ┆ MALE   ┆ null        │
│     ┆ penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ pap…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 123 ┆ Gentoo      ┆ Biscoe    ┆ Yes         ┆ … ┆ 212         ┆ 5200      ┆ FEMALE ┆ null        │
│     ┆ penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ pap…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│ 124 ┆ Gentoo      ┆ Biscoe    ┆ Yes         ┆ … ┆ 213         ┆ 5400      ┆ MALE   ┆ null        │
│     ┆ penguin     ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ (Pygoscelis ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
│     ┆ pap…        ┆           ┆             ┆   ┆             ┆           ┆        ┆             │
└─────┴─────────────┴───────────┴─────────────┴───┴─────────────┴───────────┴────────┴─────────────┘

# 1. 資料型態

In [60]:
class P01(pt.Model):
    ID: int
    Species: str
    Island: str
    Clutch_Completion: str
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: float
    Body_Mass: float
    Sex: str
    Comments: str

In [61]:
val(P01, df)

8 validation errors for P01
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Comments
  318 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
Flipper_Length
  Polars dtype Int64 does not match model field type. (type=type_error.columndtype)
Body_Mass
  Polars dtype Int64 does not match model field type. (type=type_error.columndtype)

In [62]:
class P01_1(pt.Model):
    ID: int
    Species: str
    Island: str
    Clutch_Completion: str
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: str
    Comments: str

In [63]:
val(P01_1, df)

6 validation errors for P01_1
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Comments
  318 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)

# 2. 是否為一個 list 內的值（例如：其值必為 [1, 2, 3] 其中之一）

In [64]:
class P02(pt.Model):
    ID: int
    Species: Literal['Gentoo penguin (Pygoscelis papua)', 
                     'Adelie Penguin (Pygoscelis adeliae)', 
                     'Chinstrap penguin (Pygoscelis antarctica)']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: str

In [65]:
val(P02, df)

7 validation errors for P02
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Comments
  318 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)

In [66]:
# use wrong species name

class P02_1(pt.Model):
    ID: int
    Species: Literal['Gentoo penguin', 
                     'Adelie Penguin', 
                     'Chinstrap penguin']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: str

In [67]:
val(P02_1, df)

8 validation errors for P02_1
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Comments
  318 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
Species
  Rows with invalid values: {'Chinstrap penguin (Pygoscelis antarctica)', 'Gentoo penguin (Pygoscelis papua)', 'Adelie Penguin (Pygoscelis adeliae)'}. (type=value_error.rowvalue)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)

# 3. 是否允許空值

In [68]:
class P03(pt.Model):
    ID: int
    Species: Literal['Gentoo penguin (Pygoscelis papua)', 
                     'Adelie Penguin (Pygoscelis adeliae)', 
                     'Chinstrap penguin (Pygoscelis antarctica)']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: Optional[str]

In [69]:
val(P03, df)

6 validation errors for P03
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)

# 4. 是否不允許重複

In [70]:
class P04(pt.Model):
    ID: int = pt.Field(unique=True)
    Species: Literal['Gentoo penguin (Pygoscelis papua)', 
                     'Adelie Penguin (Pygoscelis adeliae)', 
                     'Chinstrap penguin (Pygoscelis antarctica)']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: Optional[str]

In [71]:
val(P04, df)

7 validation errors for P04
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
ID
  316 rows with duplicated values. (type=value_error.rowvalue)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)

# 5. 字串長度

In [82]:
df.select(pl.col('Comments').str.len_chars().min().alias('Comments Min Length'),
          pl.col('Comments').str.len_chars().max().alias('Comments Max Length'))

shape: (1, 2)
┌─────────────────────┬─────────────────────┐
│ Comments Min Length ┆ Comments Max Length │
│ ---                 ┆ ---                 │
│ u32                 ┆ u32                 │
╞═════════════════════╪═════════════════════╡
│ 18                  ┆ 68                  │
└─────────────────────┴─────────────────────┘

In [90]:
df.select(pl.col('Comments').str.len_chars().value_counts()).unnest('Comments')

shape: (8, 2)
┌──────────┬───────┐
│ Comments ┆ count │
│ ---      ┆ ---   │
│ u32      ┆ u32   │
╞══════════╪═══════╡
│ null     ┆ 318   │
│ 25       ┆ 2     │
│ 36       ┆ 2     │
│ 30       ┆ 6     │
│ 68       ┆ 1     │
│ 18       ┆ 1     │
│ 37       ┆ 13    │
│ 62       ┆ 1     │
└──────────┴───────┘

In [80]:
class P05(pt.Model):
    ID: int = pt.Field(unique=True)
    Species: Literal['Gentoo penguin (Pygoscelis papua)', 
                     'Adelie Penguin (Pygoscelis adeliae)', 
                     'Chinstrap penguin (Pygoscelis antarctica)']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: Optional[str] = pt.Field(max_length=50)

In [83]:
val(P05, df)

8 validation errors for P05
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
ID
  316 rows with duplicated values. (type=value_error.rowvalue)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)
Comments
  2 rows with out of bound values. (type=value_error.rowvalue)

In [84]:
class P05_1(pt.Model):
    ID: int = pt.Field(unique=True)
    Species: Literal['Gentoo penguin (Pygoscelis papua)', 
                     'Adelie Penguin (Pygoscelis adeliae)', 
                     'Chinstrap penguin (Pygoscelis antarctica)']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: Optional[str] = pt.Field(min_length=20)

In [85]:
val(P05_1, df)

8 validation errors for P05_1
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
ID
  316 rows with duplicated values. (type=value_error.rowvalue)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)
Comments
  1 row with out of bound values. (type=value_error.rowvalue)

In [86]:
class P05_2(pt.Model):
    ID: int = pt.Field(unique=True)
    Species: Literal['Gentoo penguin (Pygoscelis papua)', 
                     'Adelie Penguin (Pygoscelis adeliae)', 
                     'Chinstrap penguin (Pygoscelis antarctica)']
    Island: Literal['Torgersen', 'Biscoe', 'Dream']
    Clutch_Completion: Literal['Yes', 'No']
    Culmen_Length: float
    Culmen_Depth: float
    Flipper_Length: int
    Body_Mass: int
    Sex: Literal['MALE', 'FEMALE']
    Comments: Optional[str] = pt.Field(min_length=20, max_length=50)

In [87]:
val(P05_2, df)

8 validation errors for P05_2
Body_Mass
  2 missing values (type=value_error.missingvalues)
Culmen_Depth
  2 missing values (type=value_error.missingvalues)
Sex
  10 missing values (type=value_error.missingvalues)
Flipper_Length
  2 missing values (type=value_error.missingvalues)
Culmen_Length
  2 missing values (type=value_error.missingvalues)
ID
  316 rows with duplicated values. (type=value_error.rowvalue)
Sex
  Rows with invalid values: {None, '.'}. (type=value_error.rowvalue)
Comments
  3 rows with out of bound values. (type=value_error.rowvalue)

# 5. 字串 pattern (re)

# 6. 值的範圍（大於或小於特定值）

# 8. 如果某個欄位的值為特定值時，另一個欄位的值必須為某些值